.main-container {
    text-align: center;
    padding: 20px;
  }
  
  .image-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
  }
  
  .borda {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #27bad4;
    border-radius: 30%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .image-button-container img {
    max-width: 90%;
    height: auto;
    margin-bottom: 0px;
  }
  
  .speech-bubble {
    position: absolute;
    top: 60px;
    left: 80%;
    background: #27bad4;
    color: white;
    padding: 15px 50px;
    border-radius: 15px;
    font-size: 14px;
    width: 300px;
    max-width: 600px;
    text-align: left; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out, pulse 2s infinite;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .speech-bubble::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent #27bad4 transparent transparent;
    outline: none;
    box-shadow: none;
  }
  
  .speech-bubble-message {
    align-self: flex-start; 
    padding: 5px;
    font-size: 14px;
    margin-left: -35px;
    margin-top: -10px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.03);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .chat-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #27bad4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .chat-button:hover {
    background-color: #0056b3;
  }
  