.main-container {
    text-align: center;
    padding: 20px;
  }
  
  .image-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
  }
  
  .borda {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #27bad4;
    border-radius: 50%; 
    padding: 10px;
    margin-bottom: 20px;
    width: 250px; 
    height: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; ;
    z-index: 1;
}

  .image-button-container img {
    position: relative;
    max-width: 90%;
    height: auto;
    margin-bottom: 0px;
  }
  
  .speech-bubble {
    position: absolute;
    top: 20%;
    left: 57%;
    background: #27bad4;
    color: white;
    padding: 15px 50px;
    border-radius: 15px;
    font-size: 14px;
    width: 300px;
    max-width: 600px;
    text-align: left; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out, pulse 2s infinite;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 2;
  }
  
  .speech-bubble::after {
    content: "";
    position: absolute;
    top: 80%;
    right: 100%;
    transform: translateY(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent #27bad4 transparent transparent;
    outline: none;
    box-shadow: none;
    z-index: 2;
  }
  
  .speech-bubble-message {
    align-self: flex-start; 
    padding: 5px;
    font-size: 14px;
    margin-left: -35px;
    margin-top: -10px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.03);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .button-container {
    display: flex;
    gap: 20px; 
    justify-content: center;
    margin-top: 15px;
  }
  
  .chat-button {
    padding: 20px 20px;
    font-size: 16px;
    background-color: #1a7c8d;
    margin-top: -20px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .chat-button:hover {
    background-color: #e1b457;
  }

  .button-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; 
    width: 150px;
    height: 150px;
    background-color: #1a7c8d;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .button-container button img {
    width: 175px; 
    height: auto;
    max-width: none;
    flex-shrink: 0;
  }
  
  .button-container button:hover {
    background-color: #e1b457;
  }
  